<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item p-2 " routerLinkActive="active" >
          <a class="" routerLink="/component-one" ><button class="btn btn-success">component-one</button></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="" routerLink="/component-two" ><button class="btn btn-info">compnent-two</button></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="" routerLink="/component-three" ><button class="btn btn-warning"> component-three</button></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
    <div class="">
      <div class="row justify-content-around">
          <div><h3>Svg drawing area</h3></div>
          <!-- {{ line }} -->
      </div>
      <div class="row justify-content-between">
          <div class="svgDrawingbox">
              <svg  width="1200" height="400"    (click)="mouseClick($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mouseup)="selectedShapeMouseUp($event)"  (mouseup)="reShapeClickUpPoint($event)" (mouseup)="reSizeClickUpPoint($event)" (mouseup)="rotateClickUpPoint($event)" (mousemove)="rotationMouseMove($event)" (mousemove)="customShapeMove($event)" (mousemove)="drawShape($event)">
                <!-- [attr.transform]="'translate('+tx+','+ty+')'" -->
                <g *ngFor="let shape_d_path of shape_d_paths; index as i" [attr.id]="shape_d_path.id">
                  <path  draggable="true" clickable="true" (click)="selectShape(i)" (dblclick)="deleteShapeIndex()" (mousedown)="selectedShapeMouseDown($event)" [attr.d]="shape_d_path.customShape" fill="transparent" [attr.stroke]="shape_d_path.color" stroke-width="5" [attr.transform]="'rotate('+rotationAngle+','+rotationCenterX+','+rotationCenterY+')'" />
                  <!-- <path  *ngFor="let shape_d_path of shape_d_paths; index as i" id="#draw" (click)="selectShape(i,$event)" (dblclick)="getShapeIndex()" (mousedown)="selectedShapeMouseDown($event)" [attr.d]="shape_d_path.customShape" fill="transparent" [attr.stroke]="shape_d_path.color" stroke-width="5" transform=""/> -->
                </g>
              <path   [attr.d]="line" fill="transparent" stroke="black" stroke-width="5"/>
              <g *ngFor="let point of selectedShapeControlPoints">
               
                <path (click)="selectShape(0)"   (mousedown)="selectedShapeMouseDown($event)"  [attr.d]="selectedLine" fill="transparent" stroke="black" stroke-dasharray="5,5"  [attr.transform]="'rotate('+rotationAngle+','+rotationCenterX+','+rotationCenterY+')'"/>
                <circle   (mousedown)="reSizeClickDownPoint($event)" [attr.cx]="point.cx" [attr.cy]="point.cy" r="5" fill="red" [ngStyle]="{'cursor':point.pointer}"  [attr.transform]="'rotate('+rotationAngle+','+rotationCenterX+','+rotationCenterY+')'"/>
                <path [attr.d]="rotateLine" fill="transparent"  stroke="black" stroke-dasharray="5,5" style="cursor:pointer;"  [attr.transform]="'rotate('+rotationAngle+','+rotationCenterX+','+rotationCenterY+')'"></path>
                <g  *ngFor="let point of rotatePoint">

                  <circle  (mousedown)="rotateClickDownPoint()" [attr.cx]="point.cx" [attr.cy]="point.cy" r="5" fill="red" [ngStyle]="{'cursor':point.pointer}"  [attr.transform]="'rotate('+rotationAngle+','+rotationCenterX+','+rotationCenterY+')'"/>
                </g>
                <!-- <rect x="120" y="100" width="100" height="200" rx="15" /> -->
                <!-- <rect [attr.x]="outlineX" [attr.y]="outlineY" [attr.width]="outLineWidth" [attr.height]="outlineHeght" (click)="selectShape(0)" (dblclick)="deleteShapeIndex()"  (mousedown)="selectedShapeMouseDown($event)" style="stroke-width:1;" ></rect> -->
              </g>
              <g *ngFor="let point of editablepoints">
                <circle   (mousedown)="reShapeClickDownPoint($event)" [attr.cx]="point.cx" [attr.cy]="point.cy" r="5" fill="black" [ngStyle]="{'cursor':point.pointer}"/>
              </g>
              </svg>
          </div>
      </div>
      <div class="row justify-content-between">

        <button [ngClass]="{'activecolor' : customtoggle, 'notactivecolor': !customtoggle}" class="btn btn-info" (click)="generateShape()" >Generate custom Shape</button>&nbsp;
        <button [ngClass]="{'activecolor' : reactangletoggle, 'notactivecolor': !reactangletoggle}" class="btn btn-info" (click)="generatePredifinedReactangleShape()">Generate Rectangle Shape</button>&nbsp;
        <button [ngClass]="{'activecolor' : circletoggle, 'notactivecolor': !circletoggle}" class="btn btn-info" (click)="generatePredifinedCircleShape()">Generate Circle Shape</button>&nbsp;
        <button class="btn btn-danger" (click)="deleteShapeIndex()">Delete</button>
      </div>
  </div>
  </div>
  <hr>
  <div class="row">
    <div class="loadPlace">
      <!-- <p>main component</p>
      <div class="row justify-content-center">
        <app-layoutbox></app-layoutbox>
      </div> -->
      <ng-template appDynamicLayout ></ng-template>
    </div>
  </div>
  <div class="row justify-content-between">
    <p>Addtion answer :- {{ message.additionResult }}</p>
    <p>Substraction answer :- {{ message.subResult }}</p>
    <p>Multiplication answer :- {{ message.mulResult }}</p>
    <p>Division answer :- {{ message.divResult }}</p>
  </div>
  <div class="row justify-content-between mb-5">
    <button class="btn btn-warning" (click)="loadComponent(0)">Add</button>
    <button class="btn btn-success" (click)="loadComponent(1)">Sub</button>
    <button class="btn btn-info" (click)="loadComponent(2)">Multi</button>
    <button class="btn btn-danger" (click)="loadComponent(3)">Divide</button>
  </div>
  <hr>
</div>