<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item p-2 " routerLinkActive="active" >
          <a class="" routerLink="/component-one" ><button class="btn btn-success">component-one</button></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="" routerLink="/component-two" ><button class="btn btn-info">compnent-two</button></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="" routerLink="/component-three" ><button class="btn btn-warning"> component-three</button></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
    <div class="">
      <div class="row justify-content-around">
          <div><h3>Svg drawing area</h3></div>
          <!-- {{ line }} -->
      </div>
      <div class="row justify-content-between">
          <div class="svgDrawingbox">
              <svg height="400" width="800"  (click)="mouseClick($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)">
              <path  *ngFor="let shape_d_path of shape_d_paths" [attr.d]="shape_d_path.customShape" fill="transparent" [attr.stroke]="shape_d_path.color"/>
              </svg>
          </div>
      </div>
      <button [ngClass]="{'activecolor' : customtoggle, 'notactivecolor': !customtoggle}" class="btn btn-info" (click)="generateShape()" >Generate custom Shape</button>&nbsp;
      <button [ngClass]="{'activecolor' : reactangletoggle, 'notactivecolor': !reactangletoggle}" class="btn btn-info" (click)="generatePredifinedReactangleShape()">Generate Rectangle Shape</button>&nbsp;
      <button [ngClass]="{'activecolor' : circletoggle, 'notactivecolor': !circletoggle}" class="btn btn-info" (click)="generatePredifinedCircleShape()">Generate Circle Shape</button>
      <!-- <br>
      <br>
      <div><h3>Svg predifine drawing area</h3></div>
      <div class="row justify-content-between">
          <div class="svgDrawingbox">
              <svg height="400" width="600" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" >
              <path [attr.d]="predifinedLine" fill="transparent" stroke="black"/>
              </svg>
          </div>
      </div> -->
      <!-- <button class="btn btn-warning" (Click)="generatePredifinedShape()" >Generate predifined Shape</button> -->
      <!-- <div>
          <p *ngFor="let cordinate of shapeCordinates">{{ cordinate.x }} {{ cordinate.y }}</p>
      </div> -->
  </div>
  </div>
</div>