<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item p-2 " routerLinkActive="active" >
          <a class="" routerLink="/" ><button class="btn btn-success">component-one</button></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="" routerLink="/component-two" ><button class="btn btn-info">compnent-two</button></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="" routerLink="/component-three" ><button class="btn btn-warning"> component-three</button></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>