<div class="container">
    <div class="layoutBox">
        
            <div class="row justify-content-between">
              <div class="col-auto">
                <input type="number" [(ngModel)]="value1" class="form-control" placeholder="">
              </div>
              <div class="col-auto">
                <input type="number" [(ngModel)]="value2" class="form-control" placeholder="">
              </div>
              <div class="col-auto">
                <input type="number" [(ngModel)]="value3" class="form-control" placeholder="">
              </div>
              <div class="col-auto">
                <button class="btn btn-warning" (click)="division($event)">Division</button>
              </div>
            </div>
         
    </div>
</div>