<p>component-one works!</p>
<button class="btn btn-warning" (click)="emit()">Generate Random</button>&nbsp;&nbsp;
<button class="btn btn-info" appCustomstyle>Change Random Color</button>

<!-- <svg height="600" width="400">
    <path d="M 0 200 H 200 v -100 L 400 225 L 200 350 L 200 250 H 200 L 0 250 Z" fill="grey" stroke="black"/>
   
    Sorry, your browser does not support inline SVG.
</svg> -->
<!-- <svg> <circle cx="100" cy="100" r="2" fill="red"/></svg> -->
<br>
<!-- <svg height="400" width="600">
    <path [attr.d]="line" fill="transparent" stroke="black"/>
</svg> -->


