/* You can add global styles to this file, and also import other style files */
.svgDrawingbox{
    /* float: left; */
    /* height: 400px;
    width: 800px; */
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
  }
  .svgDisplaybox{
    float: left;
    /* height: 200;
    width: 400; */
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
  }
